@import "variables.scss";

//headers
h1,h2,h3 {
    font-weight: 300;    
    margin-bottom: 0;
}

h1 {
    color: $backdrop-color;
    font-size: 3rem;
    width: 100%;
}

h2 {
    color: $backdrop-color;
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

h3 {
    color: $primary-color;
    font-size: 2rem;
}

.left-side-block {
    border-right: 1px solid $divider-color;    
}

.fa-ul {
    margin-left: 2em;        
}

.fa-li {
    width: auto;
}

//classes
.profile-title {
    border-bottom: 5px solid $divider-color;
}

.employer-title {
    > span, div {
    display: inline-block;
    color: $subtext-font-color;    
    }
}

.skills {
    > li {
        max-width: 17rem;
        display: flex;
        justify-content: space-between;
     }
}


.skill-rating {
    font-size: 0.8rem;
    line-height: 1.5rem;

    .filled.fa-star {
        color: $star-color;
    }

    .empty.fa-star {
        color: $secondary-backdrop-color;
    }
}

.profile-photo {
    img {
        width: 100%;
        height: 100%;        
    }
}

.experience-block {
    img {
        max-width: 8rem;
        max-height: 5rem;
        overflow: hidden;
    }
}

.experience-location {
    border-top: 1px solid $sub-divider-color;
    padding-top: 1rem;
    > span {
        background: $sub-divider-color;
        color: $secondary-backdrop-color;
        padding: .2rem .4rem;
        font-size: 0.8rem;
        
    }
}

#personal-info {
    ul  {
        width: 100%;

        li {
            text-align: left;
            margin-right: -2em;
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding-left: 3rem;
            background: $sub-divider-color;
            
            i {
                font-size: 1.4rem;
                padding: 1rem;
                border-right: 3px dashed white;
            }

            a {
                font-size: 1.1rem;
                margin-left: 0.8rem;
                line-height: 3.3rem;
            }
        }
    }
}

//ids
#resume {    
    background: $background-color;
}

#resume-content {
    font-family: 'Spectral', serif;
    font-weight: 200;
    font-size: 1.1rem;
    width: 90rem;
    margin:auto;
    background: white;
    text-align: left;
}

@media print {

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
    }
    .col-sm-12 {
      width: 100%;
    }
    .col-sm-11 {
      width: 91.66666666666666%;
    }
    .col-sm-10 {
      width: 83.33333333333334%;
    }
    .col-sm-9 {
      width: 75%;
    }
    .col-sm-8 {
      width: 66.66666666666666%;
    }
    .col-sm-7 {
      width: 58.333333333333336%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-5 {
      width: 41.66666666666667%;
    }
    .col-sm-4 {
      width: 33.33333333333333%;
     }
     .col-sm-3 {
       width: 25%;
     }
     .col-sm-2 {
       width: 16.666666666666664%;
     }
     .col-sm-1 {
      width: 8.333333333333332%;
     }    

     .profile-photo {
        img{
            max-width: 30%;
        }        
     }

     .about-me {
         max-width: 30%;
     }

     #personal-info {
         li {
            max-width: 25%;
         }
     }

     #resume-content {
        font-family: 'Spectral', serif;
        font-weight: 200;
        font-size: 14;
        width: 90rem;
        margin:auto;
        background: white;
        text-align: left;
    }

}